# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---

name: Post-Merge CI Pipeline

permissions:
  contents: read

on:
  push:
    branches:
      - main
      - release-*
  workflow_dispatch:

jobs:
  post-merge:
    permissions:
      contents: read
      security-events: write
      id-token: write
    uses: open-edge-platform/orch-ci/.github/workflows/post-merge.yml@main
    with:
      cache_go: true
      remove_cache_go: true
      run_build: true
      run_version_check: true
      run_dep_version_check: true
      run_version_tag: true
      run_docker_build: true
      run_docker_push: true
      run_helm_build: true
      run_helm_push: true
    secrets:
      SYS_ORCH_GITHUB: ${{ secrets.SYS_ORCH_GITHUB }}
      NO_AUTH_ECR_PUSH_USERNAME: ${{ secrets.NO_AUTH_ECR_PUSH_USERNAME }}
      NO_AUTH_ECR_PUSH_PASSWD: ${{ secrets.NO_AUTH_ECR_PUSH_PASSWD }}
      MSTEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}
